.question-form {
    width: 100%;
    /* height: 90vh; */
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 160px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.question {
    font-size: 16px;
    color: white;
    font-family: 'Noto Sans';
    line-height: 1.3;
    width: 80%;
    /* height: 100px; */
}

.question-number-title {
    font-size: 12px;
    color: white;
    font-family: 'Noto Sans';
}

.alert-popup {
    position: absolute;
    top: 70px;
    font-size: 16px;
    color: rgb(204, 30, 30);
    background-color: rgb(255, 207, 207);
    border: 1px solid rgb(244, 132, 132);
    padding: 5px 16px;
    border-radius: 12px;
}

@media (max-width: 768px) {
    .question {
        width: 100%;
        height: unset;
    }

    .question-form {
    gap: 20px;
    margin-top: 100px;
    }

    .answer-area { 
    padding: 16px;
    }

    .edit-buttons {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.answer-area {
    border-radius: 6px;
    width: 100%;
    font-size: 16px;
    padding: 50px 30px 80px 30px;
    font-family: 'Noto Sans';
    resize: none;
    border: none;
    transition: 300ms;
    line-height: 1.5;
    overflow-y: hidden;
    min-height: 300px;
}

.client-question-area {
    border-radius: 6px;
    width: 100%;
    font-size: 16px;
    padding: 50px 30px 30px 30px;
    font-family: 'Noto Sans';
    resize: none;
    border: none;
    transition: 300ms;
    overflow-y: hidden;

}

.question-form-answer {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.question-answer-label {
    font-size: 12px;
    color: black;
    font-family: 'Noto Sans';
    position: absolute;
    top: 30px;
    left: 30px;
}

.answer-area:focus, .client-question-area:focus {
    outline: 0px;
}

.edit-buttons {
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 20px;
    left: 30px;
}

.edit-button, .confirm-button {
    padding: 10px 14px;
    border: 0px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 12px;
    font-family: 'Noto Sans';
    /* font-weight: 700; */
}

.preview-button {
    border: 0px;
    border-radius: 6px;
    cursor: pointer;
    padding: 5px;
}

.viewicon {
    width: 32px;
    height: auto;
}

.question-form-question {
    display: flex;
    flex-direction: column;
    padding: 26px;
    border-radius: 6px;
    background: #27272a;
    gap: 10px;
    width: 100%;
}

.question-form-motivation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 12px;
    background-color: #cbd5e1;
    border-radius: 6px;
    width: 100%;
    color: #1e293b;
    font-family: 'Roboto';
    font-weight: 600;
    line-height: 1.1;
    font-size: 14px;
}

.motivation-icon {
    background-color: #f1f5f9;
    padding: 8px;
    border-radius: 12px;
    margin-right: auto;
}

.question-form-motivation img {
    height: 50px;
    object-fit: cover;
}


.confirm-button:not(:disabled),
.edit-button:not(:disabled) {
  background-color: #18181b;
  color: white;
}

.preview-button:not(:disabled) {
    background-color: #18181b;
    color: white;
}


.confirm-button:disabled,
.edit-button:disabled, .preview-button:disabled {
  background-color: grey;
  color: #ccc;
  cursor: not-allowed;
}

.answer-area:not(:disabled), .client-question-area:not(:disabled) {
    /* background-color: #EFEFEF; */
    background-color: white;
    border: 1px solid #D9D9D9;
}

.answer-area:disabled, .client-question-area:disabled {
    background-color: #DDDDDD;
}

.alarm-label {
    padding: 10px;
    border-radius: 6px;
    position: absolute;
    top: 10px;
    font-size: 12px;
    font-weight: 600;
    max-width: 500px;
    font-family: 'Inter';
    background-color: #F5EBE9;
    color: #C84952;
    border: 1px solid #facacd;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.alarm-label button {
    color: white;
    background-color: #b30f1a;
    border: none;
    font-size: 12px;
    font-weight: 500;
    height: 32px;
    width: 130px;
    border-radius: 6px;
    cursor: pointer;
}

.client-question-checkbox {
    display: flex;
    gap: 5px; 
    align-items: center;
    font-family: 'Noto Sans';
    font-size: 14px;
    margin-top: 8px;
}

.client-question-checkbox input {
    width: 20px;
    height: 20px;
}

.question-form-add-photo {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
    border-radius: 6px;
    border: 1px solid #D9D9D9;
    padding: 16px;
    font-family: 'Noto Sans';
    cursor: pointer;
}

.question-form-add-photo svg {
    width: 24px;
    color: rgb(122, 122, 122)
}


.question-form-photos-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.question-form-photo-item {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: white;
    border-radius: 6px;
    border: 1px solid #D9D9D9;
    padding: 16px;
    font-family: 'Noto Sans';
    cursor: pointer;
    height: 80px;
    font-size: 14px;
    background-size: cover;
    background-position: center;
}

.question-form-photo-item svg {
    width: 20px;
    color: white;
}

@media (max-width: 900px) {
    .answer-area {
        padding: 50px 30px 100px 30px;
    }

    .alarm-label {
        padding: 10px;
        border-radius: 6px;
        position: unset;
        top: 10px;
        font-size: 12px;
        font-weight: 600;
        max-width: unset;
        font-family: 'Inter';
        background-color: #F5EBE9;
        color: #C84952;
        border: 1px solid #facacd;
    
        display: flex;
        flex-direction: column;
        gap: 10px;

        order: 6;
    }

    .question-form-motivation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 12px;
    background-color: #cbd5e1;
    border-radius: 6px;
    width: 100%;
    color: #1e293b;
    font-family: 'Roboto';
    font-weight: 500;
    line-height: 1.1;
    font-size: 12px;
}
}