.policy-container {
    padding: 60px 50px;
    display: flex;
    flex-direction: column;
}

.policy-title {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 600;
    margin-top: 100px;
    margin-bottom: 60px;
}

.policy-term {
    margin-bottom: 30px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.policy-term-title {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 600;
}

.policy-term-text {
    font-family: 'Inter';
    font-size: 16px;
}

@media (max-width: 900px) {
    .policy-container {
        padding: 60px 0px;
    }
}